In [1]:
import pandas as pd

In [2]:
game_details = pd.read_csv('nba_games/games_details.csv')
games = pd.read_csv('nba_games/games.csv')
df_combo = pd.merge(game_details, games, on=["GAME_ID", "GAME_ID"])
# df_combo.head()
# for col in df_combo.columns:
#     print(col)

/var/folders/j4/xht4swnx3v38mbt0w75bjqs40000gn/T/ipykernel_61842/3740271414.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  game_details = pd.read_csv('nba_games/games_details.csv')

In [3]:
df_combo = df_combo[df_combo['SEASON'] > 2020]
df_combo['GAME_DATE_EST'] = pd.to_datetime(df_combo['GAME_DATE_EST'])
df_combo.SEASON.min()

2021

Check for nulls and find minimum number of players per team

In [4]:
player_teams_df = df_combo.groupby(['GAME_ID', 'TEAM_ID']).agg({'PLAYER_ID': ['count']})
print(player_teams_df[player_teams_df.isnull().any(axis=1)])
print(player_teams_df.min())

Empty DataFrame
Columns: [(PLAYER_ID, count)]
Index: []
PLAYER_ID  count    9
dtype: int64

In [5]:
for idx, row in df_combo.iterrows():
    # df_filtered.loc[idx, 'DAY_OF_YEAR'] = row['GAME_DATE_EST'].timetuple().tm_yday
    df_combo.loc[idx, 'WEEK_OF_YEAR'] = row['GAME_DATE_EST'].isocalendar().week

In [6]:
df_combo = df_combo[['HOME_TEAM_ID', 'VISITOR_TEAM_ID', 'PLAYER_ID', 'WEEK_OF_YEAR', 'HOME_TEAM_WINS']]
df_combo.head()

   HOME_TEAM_ID  VISITOR_TEAM_ID  PLAYER_ID  WEEK_OF_YEAR  HOME_TEAM_WINS
0    1610612740       1610612759    1629641          51.0               1
1    1610612740       1610612759    1631110          51.0               1
2    1610612740       1610612759    1627751          51.0               1
3    1610612740       1610612759    1630170          51.0               1
4    1610612740       1610612759    1630200          51.0               1

In [7]:
df_combo.to_csv("player_teams.csv")